////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////
$colorPrimary: #FFB906;
$colorSecondary: #C0CCDB;
$colorSuccess: #1DCC70;
$colorDanger: #ff2d55;
$colorWarning: #565EFF;
$colorInfo: #929497;

$colorLine: #E5E9F2;

$colorHeading: #1B2C42;
$colorText: #8D95A0;


