// Google font
@import url('https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900&display=swap');


// Font Family and Size
$fontFamily: 'Heebo', sans-serif;
$fontSize: 16px;

// Define font weight
// We use this variable for font weights.
$regular : 400; // font regular
$medium : 500; //  font medium or semibold
$bold : 700; // font bold
$black: 900 // font black