.listView {
  margin: 0px -20px;
  .listItem {
    display: flex;
    align-items: center;
    padding: 12px 56px 12px 20px;
    position: relative;
    &:last-child{
      &:after{
        display: none !important;
      }
    }
    &:after {
      content: "";
      display: block;
      height: 1px;
      background: $colorLine;
      position: absolute;
      bottom: 0;
      left: 72px;
      right: 0;
    }
    .image {
      width: 52px;
      padding-right: 16px;
      img {
        width: 100%;
        height: auto;
        border-radius: 6px;
      }
      .iconBox{
          width: 36px;
          height: 36px;
          border-radius: 200px;
          background: $colorPrimary;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #FFF;
          font-size: 20px;
          i{
              margin: 0 !important;
              line-height: 1em;
          }
      }
    }
    .text {
      width: calc(100% - 64px);
      color: $colorText;
      font-size: 18px;
      strong {
        color: $colorHeading;
        font-weight: $medium;
        display: block;
      }
      .text-muted {
        font-size: 14px;
        line-height: 1.3em;
        margin-top: 6px;
      }
    }
  }
  a.listItem {
    background-image: url("../img/icon/arrow.svg");
    background-repeat: no-repeat;
    background-position: right 20px center;
    &:active {
      background-color: rgba($colorLine, 0.4);
    }
  }
}

.listView.detailed {
  .listItem {
    &:after {
      left: 98px;
    }
    .image {
      width: 82px;
      image {
      }
    }
  }
}

.listView.iconed {
  .listItem {
    &:after {
      left: 98px;
    }
    .iconBox {
      width: 62px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 62px;
      margin-right: 20px;
      background: $colorPrimary;
      border-radius: 6px;
      color: #fff;
      font-size: 32px;
    }
  }
}
.listView.textView {
  .listItem {
    padding: 16px 56px 16px 20px;
    .text {
        font-size: 18px;
      width: 100%;
    }
    &:after{
        left: 20px;
    }
  }
}
.contentList {
  display: flex;
  align-items: center;
  padding: 16px 0;
  min-height: 74px;
  justify-content: space-between;
  border-bottom: 1px solid $colorLine;
  > div:first-child {
    padding-right: 20px;
  }
}
