:root {
    --color-text: #2D3243;
    --color-black-text: #000000;
    --color-white-text: #FFFFFF;
    --color-yellow-text: #FFB906;
    --color-dark-yellow-text: #d8b84d;
    --color-green-text: #08DB5C;
    --color-kakao-text: #FEE500;
    --color-naver-text: #1FCB53;
    --color-gray-text: #D9D9D9;
    --color-red-text: #DB1508;
    --color-pink-text: #ff3489;
}

@font-face {
    font-family: "Yeongdo";
    src: url("../../assets/font/Yeongdo.woff2") format("woff2");
}

html {
    font-family: 'Noto Sans KR', sans-serif;
    color: var(--color-text);
}

.login-title h1 {
    font-family: Yeongdo;
    font-size: 3rem !important;
}

.login-icon img {
    width: 230px;
}

.bg-kakao {
    background-color: var(--color-kakao-text);
}

.bg-naver {
    background-color: var(--color-naver-text);
}

.bg-yellow {
    background-color: var(--color-yellow-text);
}

.txt-yellow {
    color: var(--color-yellow-text);;
}

.txt-red {
    color: var(--color-red-text);;
}

.txt-pink {
    color: var(--color-pink-text);;
}

.bg-green {
    background-color: var(--color-green-text);
}

.bg-red {
    background-color: var(--color-red-text);
}

.em-txt {
    color: var(--color-dark-yellow-text) !important;
}

.login-header {
    position: relative;
    width: 100% !important;
    top: 10vh;
}

@media (max-height: 670px) {
    .login-header {
        position: relative;
        width: 100% !important;
        top: 2vh;
    }
}

.btn-box {
    position: absolute;
    bottom: 3vh;
    width: 90% !important;
    right: 5%;
}

.sns-btn {
    color: #262835;
    font-size: 1rem;
    border: none;
    margin-bottom: 5px;
}

.sns-btn img {
    width: 1.1rem;
    height: 1.1rem;
    margin-right: 30px;
}

.main-banner {
    background-image: linear-gradient(120deg, #FFFA84 0%, #FFB906 100%);
    padding: 25px;
    border-radius: 10px;
    line-height: 33px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.main-banner p {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--color-white-text);
    margin: 0;
}

ion-icon {
    line-height: 0;
}

.appBottomMenu ion-icon {
    font-size: 25px;
    margin-bottom: 17px;
    display: block !important;
}

.profile-img-box {
    text-align: center;
}

.profile-img-box img {
    border-radius: 50%;
    width: 150px !important;
    height: 150px;
    object-fit: cover;
}

.register-box h1 {
    font-size: 1.4rem !important;
    line-height: 2.2rem;
    font-weight: 700 !important;
}

.lg-txt {
    font-size: 1.2rem;
}

.sm-txt {
    font-size: 0.9rem;
}

.m-txt {
    font-size: 0.9rem;
}

.percent-box {
    position: relative;
    height: 10px;
}

.percent {
    position: absolute;
    width: 13vw;
    height: 13vw;
    display: inline-block;
    border-radius: 50%;
    bottom: -17px;
    right: 11px;
    text-align: center;
}

.percent span {
    position: relative;
    top: 3.4vw;
    font-weight: 600;
}

.mt-03 {
    margin-top: 3px;
}

.ml-40 {
    margin-left: 40px;
}

#categoryList img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

#indexCategoryList {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}

#indexCategoryList .item {
    width: 20% !important;
    display: inline-block !important;
    margin-right: 20px;
    text-align: center;
}

#indexCategoryList .item img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

#indexCategoryList .item p {
    color: var(--color-black-text) !important;
    margin: 15px 0 0 0;
}


#storeList {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}

#storeList .card {
    width: 60% !important;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
}

#storeList .card h2 {
    font-size: 1.2rem;
}

.card {
    border: none !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card img {
    border-radius: 6px 6px 0 0;
}

#storeGaugeList ion-icon {
    margin-right: 3px;
    display: inline-block;
    font-size: 1.1rem;
    top: 2px;
    position: relative;
}

.gauge {
    width: 100%;
    background-color: var(--color-gray-text);
    border-radius: 20px;
    color: var(--color-white-text);
    font-weight: 600;
}

.gauge div {
    padding: 5px 20px;
}

.gauge .green {
    display: inline-block;
    background-color: var(--color-green-text);
    border-radius: 20px;
}

.card-tag-box {
    position: relative;
}

.card-tag-box img {
    height: 23vh;
    object-fit: cover;
}

.card-tag {
    background-color: var(--color-black-text);
    width: auto;
    padding: 7px 10px;
    font-size: 0.9rem;
    color: var(--color-white-text);
    border-radius: 7px;
    position: absolute;
    top: 12px;
    left: 12px;
}

.history-card img {
    height: 15vh !important;
    object-fit: cover;
    filter: brightness(50%);
}

.card-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.history-status {
    position: relative;
}

.history-status p {
    margin: 0;
    position: absolute;
    font-weight: 600;
    top: 5.5vh;
    left: 20vh;
    font-size: 1.2rem;
}

.history-order p {
    margin: 5px 0;
}